<h1>Admin</h1>
<hr/>
<form method="post" action="/album" style="display:none" id="addAlbumForm">
	<p>Name: <input name="albumName"/></p>
	<p>Tezis: <input name="albumTezis"/></p>
	<p><input type="submit" value="Add" id="submit"/><input type="reset" id="reset" value="cancel"/></p>
</form>
<input type="button" id="addAlbumBtn" value="Add Album"></input>
<script type="text/javascript">
	$("#addAlbumBtn").click(function(){
		$("#addAlbumForm").slideToggle("slow");
		$("#addAlbumBtn").css("visibility","hidden");
	});
	$("#submit, #reset").click(function(){
		$("#addAlbumForm").slideToggle("slow");
		$("#addAlbumBtn").css("visibility","visible");
	})
</script>
<hr/>
<% if (albums.length) { %>
	<!--<table class="admin_albums_table" id="admin_albums_table">-->
	<table class="zebra-striped" id="admin_albums_table">
	<tr>
		<th>Name</th>
		<th>Tezis</th>
		<th>Public</th>
		<th>New</th>
		<th>Best</th>
		<th>Actions</th>
		<th>Photos</th>
	</tr>
	<% var i=0; %>
    <% albums.forEach(function(album){ %>
      <tr>
      	<td><%= album.name %></td>
      	<td><%= album.tezis %></td>
      	<td><%= album.isPublic %></td>
      	<td><%= album.isNew %></td>
      	<td><%= album.isBest %></td>
      	<td><button onclick="selectAlbum(<%= ++i %>, '<%= album._id %>')">Select</button><button onclick="deleteAlbum('<%= album._id%>')">Delete</button><a href="/admin/<%= album._id %>">Add image</a></td>
      	<td>
    <% album.images.forEach(function(image){ %>      	
      	<img width="100" src="/image/<%= album._id %>/<%= image._id %>"/>
    <% }) %>
    </td>
      </tr>
    <% }) %>
  </table>
<% } %>

<!-- TODO: window for post -->
<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="hidden" id="albumId" name="albumId"/>
   	<!--<p>Title: <input name="filename" /></p>
   	<p>file: <input type="file" name="file" /></p>
    <p><input type="submit" value="Upload" /></p>-->
</form>

