<h1>Admin</h1>
<hr/>
Add album:
<form method="post" action="/album">
	<p>Name: <input name="albumName"/></p>
	<p>Tezis: <input name="albumTezis"/></p>
	<p><input type="submit" value="Add"/></p>
</form>
<hr/>
<% if (albums.length) { %>
	<table class="admin_albums_table" id="admin_albums_table">
	<tr>
		<th>Name</th>
		<th>Tezis</th>
		<th>Public</th>
		<th>New</th>
		<th>Best</th>
		<th>Actions</th>
		<th>Photos</th>
	</tr>
	<% var i=0; %>
    <% albums.forEach(function(album){ %>
      <tr>
      	<td><%= album.name %></td>
      	<td><%= album.tezis %></td>
      	<td><%= album.isPublic %></td>
      	<td><%= album.isNew %></td>
      	<td><%= album.isBest %></td>
      	<td><button onclick="selectAlbum(<%= ++i %>, '<%= album._id %>')">Select</button><button>Delete</button></td>
      	<td>
    <% album.images.forEach(function(image){ %>      	
      	<img width="100" src="/image/<%= album._id %>/<%= image._id %>"/>
    <% }) %>
    </td>
      </tr>
    <% }) %>
  </table>
<% } %>
<hr/>
<form method="post" enctype="multipart/form-data" action="/upload">
	<input type="hidden" id="albumId" name="albumId"/>
	<p>Title: <input name="filename" /></p>
	<p>file: <input type="file" name="file" /></p>
	<p><input type="submit" value="Upload" /></p>
</form>