body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ddd;
}

a {
  color: #00B7FF;
}

.admin_albums_table {
	background-color: #fff;
	border: 1px solid;
	border-spacing: 2px;
}
.admin_albums_table td{
	background-color: #eee;
}